* {
    font-family: "Montserrat", sans-serif !important;
}

.navbar {
    padding-left: 40px;
    padding-right: 40px;
}

.container {
    width: 100% !important;
    margin: 0 !important;
    max-width: none;
    padding: 0 !important;
}

.justify-content-center,
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/*.row {
    margin: 0 !important;
}*/

.py-4 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.page-item.active .page-link {
    background-color: $darkBlue;
    border-color: $darkBlue;
}

.navbar-brand {
    p {
        margin: 0;
        font-weight: 800;
        font-size: 18px;

        span {
            color: $darkYellow;
        }
    }
}

.offerPagination {
    max-width: 1000px;
    margin: 0 auto;

    .pagination {
        max-width: 1000px;
        margin: 0 auto 20px auto;

        .page-link {
            height: 35px;
            padding: 10px 8px;
        }

        .page-item,
        .page-link {
            border-radius: 0 !important;
            line-height: 15px;
        }

        .paginationLastTab {
            margin-right: 30px;
        }
    }

    .goToPageForm {
        .goToPageInput {
            float: left;

            input {
                height: 35px !important;
                border-radius: 0 !important;
                max-width: 134px;
            }
        }

        .paginationSearchBtn {
            height: 35px;
            vertical-align: top;
            border-radius: 0;
            background-color: $darkBlue;
            font-size: 12px;

            -o-transition: 0.5s;
            -ms-transition: 0.5s;
            -moz-transition: 0.5s;
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }

        .paginationSearchBtn:hover {
            background-color: $lightBlue;
        }
    }
}

.formOr {
    margin: 10px 0;
}

.facebookBtn,
.googleBtn {
    width: 130px;
}

.pageContainer {
    min-height: 70vh;

    .pageHeaderTitle {
        margin-top: 30px;

        h1 {
            font-weight: 600;
            margin-bottom: 15px;
        }
    }
}

.footer {
    text-align: center;
    //padding: 30px 0;
    background-color: $gray;

    a {
        color: #000;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .footerCopyright {
        p {
            font-weight: 800;
            font-size: 20px;
        }
        .footerSocial {
            .footerSocialOption {
                background-color: #000;
                display: inline-block;
                padding: 10px;
                margin: 0 3px;
                width: 44px;
                border-radius: 30px;

                img {
                    width: 22px;
                }
            }
        }
    }

    .footerSectionHeader {
        font-size: 18px;
        font-weight: 600;
    }
}

.marginTop {
    margin-top: 30px;
}

.alertInfo {
    -webkit-box-shadow: 0px 0px 26px 1px rgba(209, 209, 209, 1);
    -moz-box-shadow: 0px 0px 26px 1px rgba(209, 209, 209, 1);
    box-shadow: 0px 0px 26px 1px rgba(209, 209, 209, 1);
    width: 80%;
    position: fixed;
    z-index: 20;
    left: 10%;
    top: 15px;
    background: #fff;
    border: 2px solid #005874;
    color: #005874;

    button {
        span {
            color: #005874;
        }
    }

    button:focus {
        outline: none;
    }
}
