.homePageOfferItemRow{
    margin: 0 !important;
    height: 100%;
    position: absolute;
}

.homePageOfferItem{
    margin-bottom: 30px;
    min-height: 300px;
    position: relative;

    .homePageOfferItemImage{
        padding: 0;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .homePageOfferItemContent{
        padding: 20px 30px;

        h2{
            font-size: 24px;
        }
        p{
            font-size: 12px;
        }

        .offertDate{
            position: absolute;
            bottom: 0;
            margin-bottom: 10px;
        }

        .homePageOfferItemBrandLogo{
            position: absolute;
            bottom: 5px;
            right: 5px;
            height: 35px;
        }

        .homePageOfferItemBtn{
            text-align: center;

            .btn{
                min-width: 200px;
                border-radius: 30px;
            }
        }
    }
}